@charset "UTF-8";

@font-face {
    font-family: 'vollkorn';
    src: url('../font/Vollkorn-VariableFont_wght.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'vollkorn';
}

img{
    width: 100%;
    height: 100%;
}

header{
    background-image: linear-gradient(to bottom right, #8744ED, #B07DFB);
    background-position: top left;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    grid-area: header;
}


header > div.logo{
    width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}

header > nav{
    padding-bottom: 20px;
}

header > nav > a{
    color: white;
    text-decoration: none;
    background-color: #8742ee;
    padding: 10px;
    border-radius: 7px;
    font-size: 0.8em;
    margin-right: 5px;
    transition-duration: 0.2s;
}

header > nav > a:hover{
    background-color: #4929788a;
    font-size: 0.9em;
}

aside.snav{
    padding: 30px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90px;
    gap: 30px;
    overflow-x: scroll;
    grid-area: sidenav;
}

aside.snav::-webkit-scrollbar{
    height: 10px;
    background-color: #f3f3f3;
    position: relative;
}

aside.snav::-webkit-scrollbar-thumb{
    background-color: #d3d3d3;
    border-radius: 5px;
}

aside.snav::-webkit-scrollbar-thumb:hover{
    background-color: #bdbdbd;
}

aside.snav > a{
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
    transition-duration: 0.3s;
}

aside.snav > a:hover{
    background-color: #B07DFB;
    padding: 10px;
}

main{
    grid-area: content;
    background-color: rgb(250, 250, 250);
}

section.title-inf-dados{
    display: grid;
    padding-bottom: 30px;
}

main > section.conteudo-principal > section.title-inf-dados > div > h1{
    font-size: 3em;
    color: #A670F8;
    padding: 20px 20px 0 20px;
    font-weight: bolder;
}

main > section.conteudo-principal > section.title-inf-dados > div > p.subt{
    color: #A670F8;
    font-style: italic;
    font-size: 0.9em;
    padding: 0 0 20px 20px;
    margin-top: -10px;
    text-indent: 0;
}

main > section.conteudo-principal > section.title-inf-dados > div > div.dados-lobo{
    width: 90px;
    display: inline-block;
    margin: 10px 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.13);
    text-align: center;
    font-style: oblique;
}

main > section.conteudo-principal > section.title-inf-dados > div > div.dados-lobo > p.num-kg, p.num-age{
    background-image: linear-gradient(to bottom right, #8744ED, #B07DFB);
    font-size: 4em;
    color: #b07dfb;
    font-style: normal;
}

main > section > section.grid-cnt{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: end;
}

p.p{
    grid-column: 1/3;
}

div.img1{
    grid-row: 2/4;
}

div.img2{
    grid-column: 2;
  
}

main > section > section > p{
    padding: 20px;
    line-height: 1.8em;
    text-indent: 20px;
    text-align: justify;
    font-size: 1.1em; 
    color: rgb(56, 56, 56);
}

main > section > p{
    padding: 20px;
    line-height: 1.8em;
    text-indent: 20px;
    text-align: justify;
    font-size: 1.1em; 
    color: rgb(56, 56, 56);
}

main > section p.mais-inf{
    color: #A670F8;
    font-size: 0.8rem;
    text-indent: 0px;
}

main > section.conteudo-principal div.img{
    padding: 0 20px;
}

main > section.conteudo-principal div.img > img{
    border-radius: 5px;
}

main > section.conteudo-principal > div.frase, div.inf-lobo{
    background-image: linear-gradient(to bottom right, #8742ee , #AF7CFB);
    background-position: top left;
    padding: 30px;
    margin: 0 30px 40px 30px;
    border-radius: 5px;
}

main > section.conteudo-principal > div.frase > p{
    color: white;
    font-size: 1.3em;
    line-height: 2em;
    text-align: center;
    font-style: italic;
}

main > section.conteudo-principal > section.inf-animation > div.inf-lobo > p{
    color: white;
    line-height: 3em;
    font-size: 1.1em;
    font-weight: lighter;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 10px;
}

main > section.conteudo-principal > section.inf-animation > div.inf-lobo > p::after{
    content: '';
    height: 1px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 100%;
    transition-duration: 0.3s;
}

main > section.conteudo-principal > section.inf-animation > div.inf-lobo > p:hover::after{
    width: 105%;
    left: -2.5%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.4);
}

aside.advert > section.ads{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: repeat(2, 1fr);
    column-gap: 15px;
    padding: 20px;
    justify-self: center;
}

aside.advert > section.ads > div{
    border-radius: 5px;
    overflow: hidden;
    background-color: black;
}

footer{
    background-image: linear-gradient(to bottom right, #8744ED, #B07DFB);
    padding: 50px;
    text-align: center;
    font-size: 1.2em;
    color: white;
    grid-area: footer;
}

@media (min-width: 700px){
    aside.snav{
        grid-auto-columns: 110px;
    }
}

@media (min-width: 850px){
    body{
        display: grid;
        grid-template-areas: 
            "header header"
            "sidenav content"
            "sidenav advert"
            "footer footer"
        ;
    }

    aside.snav{
        background-color: #f3f3f3;
        grid-auto-columns: 100px;
    }

    aside.snav{
        grid-auto-flow: row;
        align-items: start;
        align-content: start;
        grid-auto-columns: auto;
        max-width: 170px;
    }

    aside.snav > a{
        transition-duration: 0.3s;
    }
}

@media (min-width: 677px){
    header > nav{
        justify-self: end;
    }
}

@media (min-width: 700px){
    p.mais-inf{
        font-size: 0.9rem;
    }
}

@media (min-width: 700px){
    section.title-inf-dados{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    div.dados{
        justify-self: end;
    }
}

@media (max-width: 717px) and (min-width: 640px){  
    div.img1{
        grid-column: 2;
        grid-row: 1/3;
        align-self: start;
    }

    p.p{
        align-self: start;
        grid-row: 1/2;
        grid-column: 1;
    }

    div.img2{
        grid-column: 1;
        grid-row: 2/3;
    }

    p.mais-inf{
        grid-column: 2;
        grid-row: 2/3;
        align-self: end;
    }
}

@media (max-width: 640px){
    p.p{
        grid-column: auto;
        grid-row: auto;
    }

    div.img1{
        grid-column: auto;
        grid-row: auto;
    }

    p.mais-inf{
        grid-column: auto;
        grid-row: auto;
    }

    div.img2{
        grid-column: auto;
        grid-row: auto;
    }
}

@media (min-width: 1000px){
    aside.snav{
        max-width: 190px;
    }
}

@media (min-width: 1150px){
    body{
        grid-template-areas: 
            "header header header"
            "sidenav content advert"
            "footer footer footer"
        ;
    }

    aside.advert > section.ads{
        grid-auto-flow: dense;
        gap: 20px;
        max-width: 240px;
    }
}

@media (min-width: 1080px) and (max-width: 1150px){
    section.inf-animation{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        padding: 30px 0;
    }

    p.inf-p2{
        grid-column: 2;
    }

    div.inf-lobo{
        grid-row: 1/3;
    }
}

@media (min-width: 1200px){
    section.inf-animation{
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        padding: 30px 0;
    }

    p.inf-p2{
        grid-column: 2;
    }

    div.inf-lobo{
        grid-row: 1/3;
    }
}